.app {
    margin: 20px auto;
    width: 1000px;
}

.react-monaco-editor-container {
    border: 1px solid #eee;
    margin-bottom: 10px;
}

button.next {
    font-size: 20px;
    font-weight: bold;
    padding: 6px 14px;
}
